/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #75b64a; }

button {
  width: 90px;
  height: 47px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #4f4f4f;
  background: linear-gradient(#696969, #4f4f4f);
  color: #fff;
  border: solid 2px #616161;
  box-shadow: inset 0 1px 0.1px #b7b7b7;
  font-weight: bold;
  padding: 0; }

button:focus {
  outline: 0; }

button:hover {
  padding-top: 2px; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  flex-direction: column;
  background: #1e1e1e;
  justify-content: center;
  width: 375px;
  margin: 0 auto;
  background: #1e1e1e;
  /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #666, #1e1e1e, #1e1e1e);
  /* Safari */
  background: -o-radial-gradient(circle, #666, #1e1e1e, #1e1e1e);
  /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #666, #1e1e1e, #1e1e1e);
  /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #666, #1e1e1e, #1e1e1e);
  /* Standard syntax */ }

.body-w {
  background: #fff; }

header {
  background: #5ba51f;
  background: -webkit-linear-gradient(#5ba51f, #20770c);
  background: -o-linear-gradient(#5ba51f, #20770c);
  background: -moz-linear-gradient(#5ba51f, #20770c);
  background: linear-gradient(#5ba51f, #20770c);
  height: 52px;
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative; }
  header .icon-l {
    color: white;
    margin-left: 24px;
    position: absolute;
    top: 20px;
    font-size: 14px; }
    header .icon-l img {
      width: 10px; }
  header .icon-r {
    color: white;
    margin-right: 24px;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 14px; }
  header p {
    width: auto;
    margin: auto;
    text-align: center; }

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  flex-direction: column; }

.advertising {
  width: 100%;
  height: 94px;
  padding: 10px 12px 10px 24px;
  box-sizing: border-box;
  background: rgba(60, 78, 48, 0.6); }
  .advertising .ads-l {
    float: left; }
    .advertising .ads-l .ads-l-1 .ads-l-1-l {
      float: left; }
      .advertising .ads-l .ads-l-1 .ads-l-1-l h1 {
        color: #6cb23f;
        font-weight: bold;
        font-size: 18px; }
      .advertising .ads-l .ads-l-1 .ads-l-1-l h2 {
        color: #fff;
        font-weight: bold;
        font-size: 14px; }
    .advertising .ads-l .ads-l-1 .level {
      float: right;
      font-size: 36px;
      color: #6cb23f;
      text-align: center; }
    .advertising .ads-l p {
      padding-top: 8px;
      color: #999;
      font-size: 12px;
      clear: both; }
  .advertising .ads-r {
    float: right; }
    .advertising .ads-r button {
      margin-top: 10px; }

.wrap-card {
  width: 310px;
  margin: 0 auto;
  position: relative; }

.card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 302px;
  height: 187px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 18px; }
  .card img {
    width: 100%; }

.card-circle {
  position: absolute;
  right: -10px;
  top: 140px;
  width: 76px;
  border-radius: 100%;
  box-shadow: 0 0 10px #aaa; }
  .card-circle img {
    width: 100%; }

input {
  height: 20px;
  border: none; }

input:focus {
  outline: 0; }

.addcard-input-1 {
  width: 190px;
  position: absolute;
  top: 80px;
  left: 90px; }

.addcard-input-2 {
  width: 110px;
  position: absolute;
  top: 120px;
  left: 90px; }

.cup-spin {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center; }
  .cup-spin img {
    width: 60px; }
  .cup-spin p {
    color: white;
    margin-top: 20px; }

@keyframes rotating {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
.rotating {
  animation: rotating 2s linear infinite; }

.con-card .card-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  height: 84px;
  box-sizing: border-box;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  flex-direction: row; }
  .con-card .card-detail .card-detail-l {
    font-weight: bold;
    color: #fff;
    line-height: 24px; }
    .con-card .card-detail .card-detail-l .card-money {
      font-size: 18px; }
    .con-card .card-detail .card-detail-l .card-datetime {
      font-size: 13px; }
  .con-card .card-detail .card-detail-r {
    line-height: 24px;
    text-align: right;
    color: #6cb23f; }

.card-btn {
  margin: 0 auto; }
  .card-btn button {
    float: left;
    margin: 0 19px; }

.redeem {
  height: 134px;
  text-align: center;
  font-size: 12px;
  padding-top: 12px;
  margin: 0 auto; }
  .redeem .redeem-cup {
    height: 37px;
    float: left;
    margin-right: 8px; }
    .redeem .redeem-cup img {
      height: 100%; }
  .redeem .redeem-r {
    float: left; }
    .redeem .redeem-r .redeem-text {
      color: #666;
      margin-bottom: 6px; }
    .redeem .redeem-r .redeem-rod {
      width: 250px;
      height: 17px;
      background: #b7b7b7;
      margin-bottom: 2px; }
      .redeem .redeem-r .redeem-rod .redeem-rod-1 {
        width: 8.33%;
        height: 100%;
        background: #95875a; }
    .redeem .redeem-r .redeem-count {
      color: #999;
      margin-bottom: 20px; }
  .redeem .redeem-filter {
    clear: both;
    width: 120px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: red;
    height: 30px;
    background: #888787;
    border-bottom: solid 1px #616161;
    box-shadow: inset 0 1px 0.1px #b7b7b7;
    box-sizing: border-box; }
    .redeem .redeem-filter .filter-l {
      float: left;
      height: 30px;
      line-height: 30px;
      width: 60px;
      text-align: center;
      color: white; }
    .redeem .redeem-filter select {
      background: none;
      width: 60px;
      height: 30px;
      color: white;
      font-weight: bold;
      font-size: 12px;
      border: none;
      float: left; }
      .redeem .redeem-filter select option {
        color: black; }
    .redeem .redeem-filter select:focus {
      outline: 0; }
  .redeem .redeem-comment {
    clear: both;
    color: #666; }

.line {
  width: 100%;
  height: 2px;
  background: #6cb23f;
  margin: 0 auto; }

.reward {
  height: 203px;
  width: 310px;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
  margin: 0 auto; }
  .reward .reward-cup {
    margin: 0 auto;
    height: 100px;
    margin-bottom: 20px; }
    .reward .reward-cup img {
      height: 100%; }
  .reward .reward-text {
    color: #03724c; }

.contact {
  padding-top: 18px;
  width: 310px;
  margin: 0 auto;
  color: #999;
  font-size: 14px;
  line-height: 18px; }

.card-transaction {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 12px;
  width: 155px;
  height: 96px;
  background: red;
  border-radius: 4px;
  float: left; }
  .card-transaction img {
    width: 100%; }

.card-trans-info {
  margin-top: 40px;
  float: left; }
  .card-trans-info p {
    color: #6cb23f;
    margin-bottom: 8px;
    font-size: 13px; }
  .card-trans-info h1 {
    font-size: 28px;
    color: #fff; }

.transaction-title {
  height: 43px;
  text-align: center;
  clear: both;
  line-height: 43px;
  color: #6cb23f; }

.transaction-list {
  margin: 0 10px;
  background: #fff;
  border-radius: 4px;
  height: 373px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 4px; }
  .transaction-list .tarnsaction-list-item {
    height: 12.5%;
    line-height: 46px; }
    .transaction-list .tarnsaction-list-item .list-item-l {
      float: left;
      font-size: 22px;
      font-weight: bold;
      width: 125px; }
    .transaction-list .tarnsaction-list-item .list-item-c {
      float: left;
      font-size: 16px;
      width: 55px;
      text-align: center; }
    .transaction-list .tarnsaction-list-item .list-item-r {
      float: right;
      font-size: 20px;
      font-weight: bold;
      text-align: right; }
      .transaction-list .tarnsaction-list-item .list-item-r .red {
        color: red; }
      .transaction-list .tarnsaction-list-item .list-item-r .green {
        color: #6cb23f; }

.transaction-list::-webkit-scrollbar-track {
  background-color: none; }

.transaction-list::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px; }

.transaction-list::-webkit-scrollbar-thumb {
  background-color: #999;
  cursor: pointer; }

.menubar {
  height: 67px;
  background: #2a2a2a; }
  .menubar .active {
    color: white; }

.menu {
  width: 20%;
  color: #999;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  position: relative;
  float: left;
  height: 100%; }
  .menu img {
    width: 40px;
    max-height: 40px;
    margin-top: 8px; }
  .menu p {
    width: 100%;
    position: absolute;
    bottom: 4px; }

/*# sourceMappingURL=style.css.map */
